<a href="https://colab.research.google.com/github/rajeshxdatascience/smartphone-recommender-system/blob/main/smartphones_cleaning_for_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',None)

In [3]:
df = pd.read_csv('/content/7_jan_phones_with_all_details.csv')

In [4]:
df.head()

,model_id,model,description,beebome_score,rating,rating_count,market_status,launch_on,usp,price_description,old_price,competitors,price,review,pros,cons,box_contents,colors,stores,origin_country,launch_price,display_type,display_size,display_res,body_dimension,weight,body_front,body_back,body_side,build_quality,ports,ip_rating,speaker,chipset,cpu,gpu,main_cam,main_cam2,main_cam3,main_cam_features,main_video,os,software_updates,ai_features,front_cam,front_cam_features,front_video,battery,charging,storage,ram,sim,tech,2g,3g,4g,5g,speed,wifi,bluetooth,positioning_system,nfc,finger_print,sensors,add_features,flipkart_buy_link,amazon_buy_link,official_store_link
0,1,Apple iPhone 14 (6GB + 256GB),"Apple iPhone 14 is an in-stock smartphone that comes with a 6.1-inch OLED display, 12MP primary camera, and is powered by the A15 Bionic processor. It features 3279mAh battery and 20W charging, It offers in capable body and top tier software capabilities. Available for purchase online in India with possible presence in offline stores as well, it offers decent value in this segment.",69,4.6,(321KRatings),In Stock,07 Sep 2022,NaN,"Apple iPhone 14 is an in-stock smartphone that comes with a 6.1-inch OLED display, 12MP primary camera, and is powered by the A15 Bionic processor. It features 3279mAh battery and 20W charging, It offers in capable body and top tier software capabilities. Available for purchase online in India with possible presence in offline stores as well, it offers decent value in this segment.","Was ₹56,999 2 day(s) ago Was ₹56,999 2 day(s) ago",NaN,"₹64,900",NaN,NaN,NaN,"Phone, Lightning Cable, SIM Ejector Tool","Midnight, Purple, Starlight, Red, Blue, Yellow","Flipkart, Amazon",United States,"₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-starlight-256-gb/p/itmaeda15697bb79?pid=MOBGHWFHBJGZYRZC&lid=LSTMOBGHWFHBJGZYRZCUALABX&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBJGZYRZC.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJS3MRM?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN
1,2,Apple iPhone 14 (6GB + 512GB),"Apple iPhone 14 is an out of stock smartphone that comes with a 6.1-inch OLED display, 12MP primary camera, and is powered by the A15 Bionic processor. It features 3279mAh battery and 20W charging, It offers in outstanding body and stellar software capabilities.",69,4.6,(321KRatings),Out of Stock,07 Sep 2022,NaN,"Apple iPhone 14 is an out of stock smartphone that comes with a 6.1-inch OLED display, 12MP primary camera, and is powered by the A15 Bionic processor. It features 3279mAh battery and 20W charging, It offers in outstanding body and stellar software capabilities.",Lowest price since launch Lowest price since launch,NaN,"₹89,900",NaN,NaN,NaN,"Phone, Lightning Cable, SIM Ejector Tool","Midnight, Purple, Starlight, Red, Blue, Yellow","Flipkart, Amazon",United States,"₹79,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.1 inches, 90.2 cm², 86% Screen To Body Ratio","FHD+, 1170 x 2532 pixels, 19.5:9 (460 ppi), 8-bit colours, 82% DCI-P3, 1200 nits(Peak Brightness), 2000000:1 Contrast Ratio",146.7 x 71.5 x 7.8 mm,172 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR, Stereo Sound Recording",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","3279 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X",nano-SIM and eSIM,"5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100, CDMA2000 1xEV-DO (6 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-midnight-512-gb/p/itm01540a8ff03de?pid=MOBGHWFHBEMUZSBY&lid=LSTMOBGHWFHBEMUZSBYWJC9VQ&marketplace=FLIPKART&q=iphone+14+&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=d16ab4a6-25f4-4cb9-8d77-ecbd3f8a6a54.MOBGHWFHBEMUZSBY.SEARCH&ppt=pp&ppn=pp&ssid=kueh4gc0g00000001729242962911&qH=e683ba9749683369&affid=contactbe1,https://www.amazon.in/dp/B0BDJGX2XZ?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN
2,3,Apple iPhone 14 Plus (6GB + 256GB),"Apple iPhone 14 Plus is an out of stock smartphone that comes with a 6.7-inch OLED display, 12MP primary camera, and is powered by the A15 Bionic processor. It features 4323mAh battery and 20W charging, It offers in reliable body and stellar software capabilities.",72,4.6,(87KRatings),Out of Stock,07 Sep 2022,NaN,"Apple iPhone 14 Plus is an out of stock smartphone that comes with a 6.7-inch OLED display, 12MP primary camera, and is powered by the A15 Bionic processor. It features 4323mAh battery and 20W charging, It offers in reliable body and stellar software capabilities.",Lowest price since launch Lowest price since launch,NaN,"₹79,900",NaN,NaN,NaN,"Phone, Lightning Cable, SIM Ejector Tool","Midnight, Purple, Starlight, Red, Blue, Yellow","Flipkart, Amazon",United States,"₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","256GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-256-gb/p/itm8ee001dd954a2?pid=MOBGHWFHQGM9B4EU&lid=LSTMOBGHWFHQGM9B4EUGHBHUP&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_4&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHQGM9B4EU.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN
3,4,Apple iPhone 14 Plus (6GB + 512GB),"Apple iPhone 14 Plus is an out of stock smartphone that comes with a 6.7-inch OLED display, 12MP primary camera, and is powered by the A15 Bionic processor. It features 4323mAh battery and 20W charging, It offers in capable body and outstanding software capabilities.",72,4.6,(87KRatings),Out of Stock,07 Sep 2022,NaN,"Apple iPhone 14 Plus is an out of stock smartphone that comes with a 6.7-inch OLED display, 12MP primary camera, and is powered by the A15 Bionic processor. It features 4323mAh battery and 20W charging, It offers in capable body and outstanding software capabilities.",Lowest price since launch Lowest price since launch,NaN,"₹99,900",NaN,NaN,NaN,"Phone, Lightning Cable, SIM Ejector Tool","Midnight, Purple, Starlight, Red, Blue, Yellow","Flipkart, Amazon",United States,"₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","512GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-blue-512-gb/p/itm9b829cc08a732?pid=MOBGHWFHKHPYMQX8&lid=LSTMOBGHWFHKHPYMQX8K7QHSJ&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_7&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHKHPYMQX8.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,NaN,NaN
4,5,Apple iPhone 14 Plus,"Apple iPhone 14 Plus is an in-stock smartphone that comes with a 6.7-inch OLED display, 12MP primary camera, and is powered by the A15 Bionic processor. It features 4323mAh battery and 20W charging, It offers in reliable body and capable software capabilities. Available for purchase online in India with possible presence in offline stores as well, it offers great value in this segment.",72,4.6,(87KRatings),In Stock,07 Sep 2022,NaN,"Apple iPhone 14 Plus is an in-stock smartphone that comes with a 6.7-inch OLED display, 12MP primary camera, and is powered by the A15 Bionic processor. It features 4323mAh battery and 20W charging, It offers in reliable body and capable software capabilities. Available for purchase online in India with possible presence in offline stores as well, it offers great value in this segment.",Lowest price since launch Lowest price since launch,"['Apple iPhone 14 Plus', 'OnePlus 13', 'Xiaomi 15', 'Oppo Find X8', 'Google Pixel 9']","₹69,900",NaN,NaN,NaN,"Phone, Lightning Cable, SIM Ejector Tool","Midnight, Purple, Starlight, Red, Blue, Yellow","Flipkart, Amazon",United States,"₹89,900","Super Retina XDR OLED, 60 Hz Refresh Rate, Dolby Vision","6.7 inches, 109.8 cm², 87.4% Screen To Body Ratio","FHD+, 1284 x 2778 pixels, 19.5:9 (458 ppi), 8-bit colours, 85% DCI-P3, 1200 nits(Peak Brightness), 800 nits(Typical Brightness), 2000000:1 Contrast Ratio",160.8 x 78.1 x 7.8 mm,203 grams,Glass,Glass,Aluminium Frame,Corning-made Glass,Lightning USB 2.0,IP68 (Dust and Water Resistant),Stereo Speakers,"Apple A15 Bionic (5 nm), 1287587 Antutu Score",Hexa-core (2x3.23 GHz Avalanche + 4x1.82 GHz Blizzard),Apple GPU (5-core graphics),"12 MP, f/1.5, 26mm (Wide-angle), Sensor-Shift OIS","12 MP, f/2.4, 13mm (Ultra-wide), 120°",NaN,"Auto Focus, Cinematic Mode, Digital Zoom, Dual LED Dual Tone Flash, HDR, Night Mode, OIS, Panorama, PDAF","4K@24/25/30/60fps, 1080p@25/30/60/120/240fps, 720p@30fps, Cinematic mode, Dolby Vision HDR (up to 60fps), HDR",iOS 16,5 year(s) of Software and Security updates,NaN,"12 MP, f/1.9, 23mm (Wide), 1/3.6"", PDAF","Auto Focus, Cinematic mode (4k@30fps)","1080p@25/30/60/120fps, 4K@24/25/30/60fps, gyro-EIS","4323 mAh, Lithium Ion (Non-removable)","20W (wired), Wireless Charging Supported50% in 30min (wired) (advertised)","128GB, NvMe","6GB, LPDDR4X","nano-SIM and eSIM (international), Dual eSIM (USA), Nano-SIM, dual stand-by (China)","5G, CDMA, EVDO, GSM, HSPA, LTE","1800, 1900, 850, 900 (4 bands)","UMTS/HSPA+/DC-HSDPA 850, 900, 1700(AWS), 1900, 2100 (5 bands)","LTE 1, 2, 3, 4, 5, 7, 8, 12, 13, 17, 18, 19, 20, 25, 26, 28, 30, 32, 34, 38, 39, 40, 41, 42, 46, 48, 66 (27 bands)","SA/NSA/Sub6 1, 2, 3, 5, 7, 8, 12, 20, 25, 26, 28, 30, 38, 40, 41, 48, 66, 70, 77, 78, 79 (21 bands)","5G, GSM, HSPA, LTE, UMTS","Wi-Fi 6 802.11 a/b/g/n/ac/ax, Hotspot, Wi-Fi Direct, Dual Band","5.3, A2DP, LE","BDS, GALILEO, GLONASS, GPS, QZSS",Supported,NaN,"Accelerometer, Barometer Sensor, Compass, Face ID, Gyroscope, Proximity Sensor, Ultra Wideband (UWB) Support",Linear Resonant Actuators,https://www.flipkart.com/apple-iphone-14-plus-starlight-128-gb/p/itmc922ddc8af349?pid=MOBGHWFHVCB2YZYR&lid=LSTMOBGHWFHVCB2YZYRBDOEVN&marketplace=FLIPKART&q=14+plus+iphone&store=tyy%2F4io&srno=s_1_3&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=organic&iid=463edb55-77b0-4ae0-b1cf-07d79dcb5f45.MOBGHWFHVCB2YZYR.SEARCH&ppt=pp&ppn=pp&ssid=74yvvmat5s0000001729233498497&qH=94ddc8675cffe2b2&affid=contactbe1,https://www.amazon.in/dp/B0BDJFTGK6?tag=beebomgadge0d-21&linkCode=ogv&th=1&psc=1,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 68 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   description          1268 non-null   object
 3   beebome_score        1268 non-null   int64
 4   rating               1268 non-null   float64
 5   rating_count         994 non-null    object
 6   market_status        1268 non-null   object
 7   launch_on            1268 non-null   object
 8   usp                  239 non-null    object
 9   price_description    1268 non-null   object
 10  old_price            1149 non-null   object
 11  competitors          623 non-null    object
 12  price                1268 non-null   object
 13  review               187 non-null    object
 14  pros                 187 non-null    object
 15  cons                 187 non-null    object
 16  box_contents         1268 non-null   object
 17  colors               1268 non-null   object
 18  stores               1265 non-null   object
 19  origin_country       1268 non-null   object
 20  launch_price         1268 non-null   object
 21  display_type         1268 non-null   object
 22  display_size         1268 non-null   object
 23  display_res          1268 non-null   object
 24  body_dimension       1268 non-null   object
 25  weight               1268 non-null   object
 26  body_front           1268 non-null   object
 27  body_back            1238 non-null   object
 28  body_side            1251 non-null   object
 29  build_quality        739 non-null    object
 30  ports                1268 non-null   object
 31  ip_rating            915 non-null    object
 32  speaker              1265 non-null   object
 33  chipset              1268 non-null   object
 34  cpu                  1268 non-null   object
 35  gpu                  1250 non-null   object
 36  main_cam             1268 non-null   object
 37  main_cam2            1214 non-null   object
 38  main_cam3            631 non-null    object
 39  main_cam_features    1268 non-null   object
 40  main_video           1239 non-null   object
 41  os                   1268 non-null   object
 42  software_updates     1228 non-null   object
 43  ai_features          780 non-null    object
 44  front_cam            1268 non-null   object
 45  front_cam_features   1026 non-null   object
 46  front_video          1229 non-null   object
 47  battery              1268 non-null   object
 48  charging             1268 non-null   object
 49  storage              1268 non-null   object
 50  ram                  1268 non-null   object
 51  sim                  1264 non-null   object
 52  tech                 1200 non-null   object
 53  2g                   1262 non-null   object
 54  3g                   1264 non-null   object
 55  4g                   1267 non-null   object
 56  5g                   1028 non-null   object
 57  speed                1264 non-null   object
 58  wifi                 1268 non-null   object
 59  bluetooth            1266 non-null   object
 60  positioning_system   1268 non-null   object
 61  nfc                  595 non-null    object
 62  finger_print         1192 non-null   object
 63  sensors              1268 non-null   object
 64  add_features         469 non-null    object
 65  flipkart_buy_link    1085 non-null   object
 66  amazon_buy_link      724 non-null    object
 67  official_store_link  610 non-null    object
dtypes: float64(1), int64(2), object(65)
memory usage: 673.8+ KB

In [6]:
df['brand'] = df['model'].str.lower().str.split(' ').str.get(0)

In [7]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
motorola     40
moto         38
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [8]:
df.loc[df['brand'].str.contains('moto'),'brand'] = 'motorola'

In [9]:
df['brand'].value_counts()

brand
realme      231
samsung     196
vivo        177
oppo        100
redmi        93
motorola     78
iqoo         74
poco         70
infinix      61
oneplus      59
apple        54
google       20
nothing      18
xiaomi       18
honor        10
asus          5
cmf           4
Name: count, dtype: int64

In [10]:
df['brand'].count()

np.int64(1268)

In [11]:
df['brand'] = df['brand'].astype('category')

In [12]:
df['beebome_score'].value_counts()

beebome_score
80    57
73    45
84    41
74    41
68    37
      ..
47     4
28     3
26     3
29     2
22     1
Name: count, Length: 70, dtype: int64

In [13]:
df['rating'].value_counts()

rating
4.3    299
4.4    271
4.2    236
4.5    134
4.1     92
4.6     70
4.7     46
4.8     29
4.0     29
2.0     16
3.9     15
1.0     12
3.8      5
3.4      5
3.5      2
3.7      2
3.6      2
5.0      1
4.9      1
3.0      1
Name: count, dtype: int64

In [14]:
df['rating_count'] = df['rating_count'].str.lower().str.split('r').str.get(0)

In [15]:
df['rating_count'] = df['rating_count'].str.replace('(','')

In [16]:
df['rating_count'] = df['rating_count'].str.replace('k',"1000")

In [17]:
df['rating_count'] = df['rating_count'].astype('float64')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   description          1268 non-null   object
 3   beebome_score        1268 non-null   int64
 4   rating               1268 non-null   float64
 5   rating_count         994 non-null    float64
 6   market_status        1268 non-null   object
 7   launch_on            1268 non-null   object
 8   usp                  239 non-null    object
 9   price_description    1268 non-null   object
 10  old_price            1149 non-null   object
 11  competitors          623 non-null    object
 12  price                1268 non-null   object
 13  review               187 non-null    object
 14  pros                 187 non-null    object
 15  cons                 187 non-null    object
 16  box_contents         1268 non-null   object
 17  colors               1268 non-null   object
 18  stores               1265 non-null   object
 19  origin_country       1268 non-null   object
 20  launch_price         1268 non-null   object
 21  display_type         1268 non-null   object
 22  display_size         1268 non-null   object
 23  display_res          1268 non-null   object
 24  body_dimension       1268 non-null   object
 25  weight               1268 non-null   object
 26  body_front           1268 non-null   object
 27  body_back            1238 non-null   object
 28  body_side            1251 non-null   object
 29  build_quality        739 non-null    object
 30  ports                1268 non-null   object
 31  ip_rating            915 non-null    object
 32  speaker              1265 non-null   object
 33  chipset              1268 non-null   object
 34  cpu                  1268 non-null   object
 35  gpu                  1250 non-null   object
 36  main_cam             1268 non-null   object
 37  main_cam2            1214 non-null   object
 38  main_cam3            631 non-null    object
 39  main_cam_features    1268 non-null   object
 40  main_video           1239 non-null   object
 41  os                   1268 non-null   object
 42  software_updates     1228 non-null   object
 43  ai_features          780 non-null    object
 44  front_cam            1268 non-null   object
 45  front_cam_features   1026 non-null   object
 46  front_video          1229 non-null   object
 47  battery              1268 non-null   object
 48  charging             1268 non-null   object
 49  storage              1268 non-null   object
 50  ram                  1268 non-null   object
 51  sim                  1264 non-null   object
 52  tech                 1200 non-null   object
 53  2g                   1262 non-null   object
 54  3g                   1264 non-null   object
 55  4g                   1267 non-null   object
 56  5g                   1028 non-null   object
 57  speed                1264 non-null   object
 58  wifi                 1268 non-null   object
 59  bluetooth            1266 non-null   object
 60  positioning_system   1268 non-null   object
 61  nfc                  595 non-null    object
 62  finger_print         1192 non-null   object
 63  sensors              1268 non-null   object
 64  add_features         469 non-null    object
 65  flipkart_buy_link    1085 non-null   object
 66  amazon_buy_link      724 non-null    object
 67  official_store_link  610 non-null    object
 68  brand                1268 non-null   category
dtypes: category(1), float64(2), int64(2), object(64)
memory usage: 675.7+ KB

In [19]:
df['market_status'].value_counts()

market_status
In Stock        896
Out of Stock    372
Name: count, dtype: int64

In [20]:
def market(text):

  t = text.lower()

  if t == 'in stock':
    return 1
  elif t == 'out of stock':
    return 0

df['is_available'] = df['market_status'].apply(market)

In [21]:
df['is_available'].value_counts()

is_available
1    896
0    372
Name: count, dtype: int64

In [22]:
df.drop(columns='market_status',inplace=True)

In [23]:
df['launch_on']

0       07 Sep 2022
1       07 Sep 2022
2       07 Sep 2022
3       07 Sep 2022
4       07 Sep 2022
           ...
1263    07 Mar 2024
1264    11 Mar 2025
1265    11 Mar 2025
1266    09 May 2023
1267    09 May 2023
Name: launch_on, Length: 1268, dtype: object

In [24]:
df['launch_on'] = pd.to_datetime(df['launch_on'])

In [25]:
df['launch_on']

0      2022-09-07
1      2022-09-07
2      2022-09-07
3      2022-09-07
4      2022-09-07
          ...
1263   2024-03-07
1264   2025-03-11
1265   2025-03-11
1266   2023-05-09
1267   2023-05-09
Name: launch_on, Length: 1268, dtype: datetime64[ns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   description          1268 non-null   object
 3   beebome_score        1268 non-null   int64
 4   rating               1268 non-null   float64
 5   rating_count         994 non-null    float64
 6   launch_on            1268 non-null   datetime64[ns]
 7   usp                  239 non-null    object
 8   price_description    1268 non-null   object
 9   old_price            1149 non-null   object
 10  competitors          623 non-null    object
 11  price                1268 non-null   object
 12  review               187 non-null    object
 13  pros                 187 non-null    object
 14  cons                 187 non-null    object
 15  box_contents         1268 non-null   object
 16  colors               1268 non-null   object
 17  stores               1265 non-null   object
 18  origin_country       1268 non-null   object
 19  launch_price         1268 non-null   object
 20  display_type         1268 non-null   object
 21  display_size         1268 non-null   object
 22  display_res          1268 non-null   object
 23  body_dimension       1268 non-null   object
 24  weight               1268 non-null   object
 25  body_front           1268 non-null   object
 26  body_back            1238 non-null   object
 27  body_side            1251 non-null   object
 28  build_quality        739 non-null    object
 29  ports                1268 non-null   object
 30  ip_rating            915 non-null    object
 31  speaker              1265 non-null   object
 32  chipset              1268 non-null   object
 33  cpu                  1268 non-null   object
 34  gpu                  1250 non-null   object
 35  main_cam             1268 non-null   object
 36  main_cam2            1214 non-null   object
 37  main_cam3            631 non-null    object
 38  main_cam_features    1268 non-null   object
 39  main_video           1239 non-null   object
 40  os                   1268 non-null   object
 41  software_updates     1228 non-null   object
 42  ai_features          780 non-null    object
 43  front_cam            1268 non-null   object
 44  front_cam_features   1026 non-null   object
 45  front_video          1229 non-null   object
 46  battery              1268 non-null   object
 47  charging             1268 non-null   object
 48  storage              1268 non-null   object
 49  ram                  1268 non-null   object
 50  sim                  1264 non-null   object
 51  tech                 1200 non-null   object
 52  2g                   1262 non-null   object
 53  3g                   1264 non-null   object
 54  4g                   1267 non-null   object
 55  5g                   1028 non-null   object
 56  speed                1264 non-null   object
 57  wifi                 1268 non-null   object
 58  bluetooth            1266 non-null   object
 59  positioning_system   1268 non-null   object
 60  nfc                  595 non-null    object
 61  finger_print         1192 non-null   object
 62  sensors              1268 non-null   object
 63  add_features         469 non-null    object
 64  flipkart_buy_link    1085 non-null   object
 65  amazon_buy_link      724 non-null    object
 66  official_store_link  610 non-null    object
 67  brand                1268 non-null   category
 68  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(3), object(62)
memory usage: 675.7+ KB

In [27]:
df['old_price'].value_counts()

old_price
Lowest price since launch Lowest price since launch      305
Was ₹7,999 2 month(s) ago Was ₹7,999 2 month(s) ago        8
Was ₹15,999 2 month(s) ago Was ₹15,999 2 month(s) ago      8
Was ₹22,999 2 month(s) ago Was ₹22,999 2 month(s) ago      7
Was ₹13,999 2 month(s) ago Was ₹13,999 2 month(s) ago      7
                                                        ...
Was ₹47,839 22 day(s) ago Was ₹47,839 22 day(s) ago        1
Was ₹25,999 2 month(s) ago Was ₹25,999 2 month(s) ago      1
Was ₹34,999 10 day(s) ago Was ₹34,999 10 day(s) ago        1
Was ₹23,799 5 day(s) ago Was ₹23,799 5 day(s) ago          1
Was ₹21,300 1 month(s) ago Was ₹21,300 1 month(s) ago      1
Name: count, Length: 667, dtype: int64

In [28]:
df['old_price'] = df['old_price'].str.lower().str.split(' ').str.get(1)

In [29]:
df.loc[df['old_price'] == 'price','old_price'] = np.nan

In [30]:
df['old_price'].value_counts(dropna=False)

old_price
NaN        424
₹11,999     18
₹9,999      16
₹22,999     16
₹10,999     15
          ...
₹13,898      1
₹12,754      1
₹11,874      1
₹11,450      1
₹22,319      1
Name: count, Length: 448, dtype: int64

In [31]:
df['old_price'] = df['old_price'].str.replace('₹','')

In [32]:
df['old_price'] = df['old_price'].str.replace(',','')

In [33]:
df['old_price'] = df['old_price'].astype('float')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   description          1268 non-null   object
 3   beebome_score        1268 non-null   int64
 4   rating               1268 non-null   float64
 5   rating_count         994 non-null    float64
 6   launch_on            1268 non-null   datetime64[ns]
 7   usp                  239 non-null    object
 8   price_description    1268 non-null   object
 9   old_price            844 non-null    float64
 10  competitors          623 non-null    object
 11  price                1268 non-null   object
 12  review               187 non-null    object
 13  pros                 187 non-null    object
 14  cons                 187 non-null    object
 15  box_contents         1268 non-null   object
 16  colors               1268 non-null   object
 17  stores               1265 non-null   object
 18  origin_country       1268 non-null   object
 19  launch_price         1268 non-null   object
 20  display_type         1268 non-null   object
 21  display_size         1268 non-null   object
 22  display_res          1268 non-null   object
 23  body_dimension       1268 non-null   object
 24  weight               1268 non-null   object
 25  body_front           1268 non-null   object
 26  body_back            1238 non-null   object
 27  body_side            1251 non-null   object
 28  build_quality        739 non-null    object
 29  ports                1268 non-null   object
 30  ip_rating            915 non-null    object
 31  speaker              1265 non-null   object
 32  chipset              1268 non-null   object
 33  cpu                  1268 non-null   object
 34  gpu                  1250 non-null   object
 35  main_cam             1268 non-null   object
 36  main_cam2            1214 non-null   object
 37  main_cam3            631 non-null    object
 38  main_cam_features    1268 non-null   object
 39  main_video           1239 non-null   object
 40  os                   1268 non-null   object
 41  software_updates     1228 non-null   object
 42  ai_features          780 non-null    object
 43  front_cam            1268 non-null   object
 44  front_cam_features   1026 non-null   object
 45  front_video          1229 non-null   object
 46  battery              1268 non-null   object
 47  charging             1268 non-null   object
 48  storage              1268 non-null   object
 49  ram                  1268 non-null   object
 50  sim                  1264 non-null   object
 51  tech                 1200 non-null   object
 52  2g                   1262 non-null   object
 53  3g                   1264 non-null   object
 54  4g                   1267 non-null   object
 55  5g                   1028 non-null   object
 56  speed                1264 non-null   object
 57  wifi                 1268 non-null   object
 58  bluetooth            1266 non-null   object
 59  positioning_system   1268 non-null   object
 60  nfc                  595 non-null    object
 61  finger_print         1192 non-null   object
 62  sensors              1268 non-null   object
 63  add_features         469 non-null    object
 64  flipkart_buy_link    1085 non-null   object
 65  amazon_buy_link      724 non-null    object
 66  official_store_link  610 non-null    object
 67  brand                1268 non-null   category
 68  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(3), object(61)
memory usage: 675.7+ KB

In [35]:
df['price'] = df['price'].str.replace('₹','')

In [36]:
df['price'] = df['price'].str.replace(',','')

In [37]:
df['price'] = df['price'].astype('int')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   description          1268 non-null   object
 3   beebome_score        1268 non-null   int64
 4   rating               1268 non-null   float64
 5   rating_count         994 non-null    float64
 6   launch_on            1268 non-null   datetime64[ns]
 7   usp                  239 non-null    object
 8   price_description    1268 non-null   object
 9   old_price            844 non-null    float64
 10  competitors          623 non-null    object
 11  price                1268 non-null   int64
 12  review               187 non-null    object
 13  pros                 187 non-null    object
 14  cons                 187 non-null    object
 15  box_contents         1268 non-null   object
 16  colors               1268 non-null   object
 17  stores               1265 non-null   object
 18  origin_country       1268 non-null   object
 19  launch_price         1268 non-null   object
 20  display_type         1268 non-null   object
 21  display_size         1268 non-null   object
 22  display_res          1268 non-null   object
 23  body_dimension       1268 non-null   object
 24  weight               1268 non-null   object
 25  body_front           1268 non-null   object
 26  body_back            1238 non-null   object
 27  body_side            1251 non-null   object
 28  build_quality        739 non-null    object
 29  ports                1268 non-null   object
 30  ip_rating            915 non-null    object
 31  speaker              1265 non-null   object
 32  chipset              1268 non-null   object
 33  cpu                  1268 non-null   object
 34  gpu                  1250 non-null   object
 35  main_cam             1268 non-null   object
 36  main_cam2            1214 non-null   object
 37  main_cam3            631 non-null    object
 38  main_cam_features    1268 non-null   object
 39  main_video           1239 non-null   object
 40  os                   1268 non-null   object
 41  software_updates     1228 non-null   object
 42  ai_features          780 non-null    object
 43  front_cam            1268 non-null   object
 44  front_cam_features   1026 non-null   object
 45  front_video          1229 non-null   object
 46  battery              1268 non-null   object
 47  charging             1268 non-null   object
 48  storage              1268 non-null   object
 49  ram                  1268 non-null   object
 50  sim                  1264 non-null   object
 51  tech                 1200 non-null   object
 52  2g                   1262 non-null   object
 53  3g                   1264 non-null   object
 54  4g                   1267 non-null   object
 55  5g                   1028 non-null   object
 56  speed                1264 non-null   object
 57  wifi                 1268 non-null   object
 58  bluetooth            1266 non-null   object
 59  positioning_system   1268 non-null   object
 60  nfc                  595 non-null    object
 61  finger_print         1192 non-null   object
 62  sensors              1268 non-null   object
 63  add_features         469 non-null    object
 64  flipkart_buy_link    1085 non-null   object
 65  amazon_buy_link      724 non-null    object
 66  official_store_link  610 non-null    object
 67  brand                1268 non-null   category
 68  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(60)
memory usage: 675.7+ KB

In [39]:
df['launch_price'] = df['launch_price'].str.replace('₹','').str.replace(',','').astype(int)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   model_id             1268 non-null   int64
 1   model                1268 non-null   object
 2   description          1268 non-null   object
 3   beebome_score        1268 non-null   int64
 4   rating               1268 non-null   float64
 5   rating_count         994 non-null    float64
 6   launch_on            1268 non-null   datetime64[ns]
 7   usp                  239 non-null    object
 8   price_description    1268 non-null   object
 9   old_price            844 non-null    float64
 10  competitors          623 non-null    object
 11  price                1268 non-null   int64
 12  review               187 non-null    object
 13  pros                 187 non-null    object
 14  cons                 187 non-null    object
 15  box_contents         1268 non-null   object
 16  colors               1268 non-null   object
 17  stores               1265 non-null   object
 18  origin_country       1268 non-null   object
 19  launch_price         1268 non-null   int64
 20  display_type         1268 non-null   object
 21  display_size         1268 non-null   object
 22  display_res          1268 non-null   object
 23  body_dimension       1268 non-null   object
 24  weight               1268 non-null   object
 25  body_front           1268 non-null   object
 26  body_back            1238 non-null   object
 27  body_side            1251 non-null   object
 28  build_quality        739 non-null    object
 29  ports                1268 non-null   object
 30  ip_rating            915 non-null    object
 31  speaker              1265 non-null   object
 32  chipset              1268 non-null   object
 33  cpu                  1268 non-null   object
 34  gpu                  1250 non-null   object
 35  main_cam             1268 non-null   object
 36  main_cam2            1214 non-null   object
 37  main_cam3            631 non-null    object
 38  main_cam_features    1268 non-null   object
 39  main_video           1239 non-null   object
 40  os                   1268 non-null   object
 41  software_updates     1228 non-null   object
 42  ai_features          780 non-null    object
 43  front_cam            1268 non-null   object
 44  front_cam_features   1026 non-null   object
 45  front_video          1229 non-null   object
 46  battery              1268 non-null   object
 47  charging             1268 non-null   object
 48  storage              1268 non-null   object
 49  ram                  1268 non-null   object
 50  sim                  1264 non-null   object
 51  tech                 1200 non-null   object
 52  2g                   1262 non-null   object
 53  3g                   1264 non-null   object
 54  4g                   1267 non-null   object
 55  5g                   1028 non-null   object
 56  speed                1264 non-null   object
 57  wifi                 1268 non-null   object
 58  bluetooth            1266 non-null   object
 59  positioning_system   1268 non-null   object
 60  nfc                  595 non-null    object
 61  finger_print         1192 non-null   object
 62  sensors              1268 non-null   object
 63  add_features         469 non-null    object
 64  flipkart_buy_link    1085 non-null   object
 65  amazon_buy_link      724 non-null    object
 66  official_store_link  610 non-null    object
 67  brand                1268 non-null   category
 68  is_available         1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(5), object(59)
memory usage: 675.7+ KB

In [44]:
df['is_flipkart_available'] = df['flipkart_buy_link'].notna().astype('int')

In [45]:
df['is_flipkart_available'].value_counts()

is_flipkart_available
1    1085
0     183
Name: count, dtype: int64

In [46]:
df['is_amazon_available'] = df['amazon_buy_link'].notna().astype('int')

In [47]:
df['is_amazon_available'].value_counts()

is_amazon_available
1    724
0    544
Name: count, dtype: int64

In [48]:
df['is_official_available'] = df['official_store_link'].notna().astype('int')

In [49]:
df['is_official_available'].value_counts()

is_official_available
0    658
1    610
Name: count, dtype: int64

In [51]:
df.drop(columns=['flipkart_buy_link','amazon_buy_link','official_store_link'],inplace=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1268 entries, 0 to 1267
Data columns (total 69 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   model_id               1268 non-null   int64
 1   model                  1268 non-null   object
 2   description            1268 non-null   object
 3   beebome_score          1268 non-null   int64
 4   rating                 1268 non-null   float64
 5   rating_count           994 non-null    float64
 6   launch_on              1268 non-null   datetime64[ns]
 7   usp                    239 non-null    object
 8   price_description      1268 non-null   object
 9   old_price              844 non-null    float64
 10  competitors            623 non-null    object
 11  price                  1268 non-null   int64
 12  review                 187 non-null    object
 13  pros                   187 non-null    object
 14  cons                   187 non-null    object
 15  box_contents           1268 non-null   object
 16  colors                 1268 non-null   object
 17  stores                 1265 non-null   object
 18  origin_country         1268 non-null   object
 19  launch_price           1268 non-null   int64
 20  display_type           1268 non-null   object
 21  display_size           1268 non-null   object
 22  display_res            1268 non-null   object
 23  body_dimension         1268 non-null   object
 24  weight                 1268 non-null   object
 25  body_front             1268 non-null   object
 26  body_back              1238 non-null   object
 27  body_side              1251 non-null   object
 28  build_quality          739 non-null    object
 29  ports                  1268 non-null   object
 30  ip_rating              915 non-null    object
 31  speaker                1265 non-null   object
 32  chipset                1268 non-null   object
 33  cpu                    1268 non-null   object
 34  gpu                    1250 non-null   object
 35  main_cam               1268 non-null   object
 36  main_cam2              1214 non-null   object
 37  main_cam3              631 non-null    object
 38  main_cam_features      1268 non-null   object
 39  main_video             1239 non-null   object
 40  os                     1268 non-null   object
 41  software_updates       1228 non-null   object
 42  ai_features            780 non-null    object
 43  front_cam              1268 non-null   object
 44  front_cam_features     1026 non-null   object
 45  front_video            1229 non-null   object
 46  battery                1268 non-null   object
 47  charging               1268 non-null   object
 48  storage                1268 non-null   object
 49  ram                    1268 non-null   object
 50  sim                    1264 non-null   object
 51  tech                   1200 non-null   object
 52  2g                     1262 non-null   object
 53  3g                     1264 non-null   object
 54  4g                     1267 non-null   object
 55  5g                     1028 non-null   object
 56  speed                  1264 non-null   object
 57  wifi                   1268 non-null   object
 58  bluetooth              1266 non-null   object
 59  positioning_system     1268 non-null   object
 60  nfc                    595 non-null    object
 61  finger_print           1192 non-null   object
 62  sensors                1268 non-null   object
 63  add_features           469 non-null    object
 64  brand                  1268 non-null   category
 65  is_available           1268 non-null   int64
 66  is_flipkart_available  1268 non-null   int64
 67  is_amazon_available    1268 non-null   int64
 68  is_official_available  1268 non-null   int64
dtypes: category(1), datetime64[ns](1), float64(3), int64(8), object(56)
memory usage: 675.7+ KB